<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Generate Summary</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Similarity</h1>


    <form action="/predict_similarity/" method="post">
      <div class="inp">
        <input type="text" name="tweet" placeholder="Enter the text" required="required" />
      </div>
      <br>
      
      <div class="inp">
        <input type="text" name="tweet2" placeholder="Check how similar it is" required="required" />
      </div>
      <button name="forwardBtn" type="submit">Predict</button>
  </form>

   <br>
   <br>


  <!-- <div class="green"> -->
    <h10> {{pred_similarity}}</h10>
  <!-- </div> -->


  
  
   <!--{{ prediction_text }} -->

 </div>
</body>
</html>